* {
  background-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid transparent;
  font-family: "Poppins", sans-serif;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-box h1 {
  font-size: 30px;
  color: #173A56;
  font-weight: 700;
}
.logo-box img {
  margin-left: 5px;
}

.logo {
  margin-bottom: 10px;
}

.nav-my {
  margin-left: 25%;
}

.btn-my {
  padding: 5px 19px;
  border: 1px solid transparent;
  background-image: url(../img/video.png);
  background-repeat: no-repeat;
  background-position: center left;
}

.btn-my:hover {
  background-color: #fff;
  border: 1px solid green;
  color: green;
}

.navbar {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: transparent;
}

.bold {
  font-size: 20px;
  font-weight: 600;
}

.s-bold {
  font-size: 20px;
  font-weight: 500;
}

.btn {
  margin-right: 10px;
}

.sect1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-box-1 {
  width: 50%;
}
.head-box-1 h1 {
  font-weight: 700;
  font-size: 30px;
}
.head-box-1 p {
  font-weight: 400;
  font-size: 18px;
}

.head-box-2 {
  width: 50%;
  height: 500px;
  background-image: url(../img/amico.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (max-width: 770px) {
  .sect1 {
    flex-direction: column-reverse;
  }
  .sect1 * {
    text-align: center;
  }
  .sect1 .head-box-1, .sect1 .head-box-2 {
    width: 100%;
    height: 300px;
  }
  .btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.sect2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sect2 h2 {
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  color: #22343D;
}

.sect2-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}

.item-box {
  padding: 0 15px;
  margin: 20px auto;
  width: 280px;
  height: 250px;
  border: 1px solid transparent;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: url(../img/item-img1.svg);
  background-repeat: no-repeat;
  background-position: top 25px left 25px;
}
.item-box h3 {
  font-size: 20px;
  font-weight: 600;
  color: #22343D;
  margin-top: 15px;
}
.item-box p {
  font-size: 18px;
  font-weight: 400;
  color: #22343D;
}

.box-sect-2 {
  background-image: url(../img/icon.svg);
  background-repeat: no-repeat;
  background-position: top 25px left 25px;
}

.box-sect-3 {
  background-image: url(../img/icon1.svg);
  background-repeat: no-repeat;
  background-position: top 25px left 25px;
}

.box-sect-4 {
  background-image: url(../img/icon2.svg);
  background-repeat: no-repeat;
  background-position: top 25px left 25px;
}

@media (max-width: 420px) {
  .item-box {
    width: 95%;
    margin: 0 auto;
    justify-content: flex-end;
  }
}/*# sourceMappingURL=main.css.map */